:root {
    --red-streak: rgba(205, 17, 38, 0.9);
    --blue-streak: rgba(0, 56, 168, 0.9);
    --yellow-streak: rgba(252, 212, 37, 1);
    --card-bg-color: aliceblue;
    --transparent-black: rgba(0, 0, 0, 0.1);
    --black-bg-color: rgb(0, 0, 0, 0.9);
    --main-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;

}

body {
    background-color: var(--blue-streak);
    max-width: 100%;

}

header {
    margin-bottom: 5px;
    max-width: 100%;
}

h1 {
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
    color: #fff;
    background-color: var(--red-streak);
    padding-left: 20px;

}

/* #title-header {
    text-align: center;
    margin-top: 32px;
    color: var(--card-bg-color);

} */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    width: 100vw;
    height: 100vh;
}

.grid-item {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

main {

    justify-content: center;
    align-items: center;
}

.hero {

    max-width: 100%;
}



#card1 {

    background-color: var(--card-bg-color);
    /* position: absolute; */
    /* margin-top: 50px; */
    /* margin-left: 50px; */
    /* border-radius: 4px; */
}

.data-box-1>a {
    text-align: right;
    padding: 0 20px;

}

.more-content {
    display: none;
}

#card2 {
    background-color: var(--card-bg-color);

    /* position: absolute; */
    /* margin-top: 350px; */
    /* margin-left: 1100px; */
    /* border-radius: 4px; */
}


.data-title-philippines,
.data-title-weather {
    background-color: var(--yellow-streak);
    position: absolute;
    width: 200px;
    top: -10px;
    left: -10px;
    text-align: left;
    padding-left: 10px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    /* z-index: 10; */


}

h3 {
    color: aliceblue;
}

.data-box-1 {
    /* display: grid; */
    /* position: relative; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto; */
    font-size: 0.8rem;
    gap: 2px;
    margin: 40px auto;
    box-shadow: 0 1px 4px var(--transparent-black);

}

.data-box-2 {
    /* display: grid; */
    /* position: relative; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto; */
    font-size: 0.8rem;
    margin: 40px auto;
    box-shadow: 0 1px 4px var(--transparent-black);


}

.row {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    padding: 0 20px;


}


.col1 {

    padding: 0.2rem;
    font-family: var(--main-font);
    font-weight: bold;
    text-align: right;


}

.col2 {

    padding: 0.2rem;
    font-family: var(--main-font);
    font-weight: normal;




}



picture {
    max-width: 100%;
    margin: 0 auto;
    height: auto;

    /* display: block; */


}

footer {

    background-color: var(--transparent-black);
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-size: 0.9em;
    max-width: 100%;

}
